@page "/deleteUsuario"
@page "/deleteUsuario/{Id}"
@inject UsuariosServices usuarioservice
@inject NavigationManager Navigation
@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext context
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Identity
@using Proyecto_SouKuroApp.Data
@using Shared.Models

<div class="card">
    <div class="card-header bg-danger text-light">
        <h1 class="mb-0">¿Desea Eliminar este Usuario?</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Detalles del Usuario</h5>
        <dl class="row">
            
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@User.UserName</dd>
            <dt class="col-sm-3">Nombre de Usuario</dt>
            <dd class="col-sm-9">@User.NombreUsuario</dd>
            <dt class="col-sm-3">Fecha De Nacimiento</dt>
            <dd class="col-sm-9">@User.FechaNacimiento</dd>






         

           

        </dl>
    </div>
    <div class="card-footer">
        <a href="/usuario" class="btn btn-outline-primary bi bi bi-arrow-return-left"> Volver</a>
        <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar</button>

    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    public ApplicationUser User { get; set; } = new ApplicationUser();
    public Usuario usuario { get; set; } = new Usuario();


    protected override async Task OnInitializedAsync()
    {

        if (!Guid.TryParse(Id, out Guid userId))
        {
            // Manejar el caso en que el Id no sea un Guid válido
            // Puedes mostrar un mensaje de error, por ejemplo
            return;
        }

        // Obtener el usuario por su Id
        User = await userManager.FindByIdAsync(userId.ToString());
    }


    public async Task Eliminar()
    {
        var userRemovido = await usuarioservice.Delete(User.Id);
        if (!userRemovido)
        {
            return;
        }
        else
        {
            // Limpiar el usuario después de eliminarlo con éxito si es necesario
            usuario = new Usuario();
        }
    }

    void Atras()
    {
        Navigation.NavigateTo("/usuario");
    }
}
