﻿
@page "/"
@using Microsoft.AspNetCore.Authorization


@attribute [Authorize]
<PageTitle>Home</PageTitle>
<AuthorizeView Roles="Admin" >

   
    <Authorized  >

        <div class="card mx-auto shadow-lg" style="max-width:1000px" >
            <div class="card-header d-flex align-items-center justify-content-center">
                <img src="Logo.png" class="img-logo" />
                <h2>Piscina Campestre -Menu-</h2>
            </div>
            <div class="card-body" style="background-color: #ffff; background-size: cover;">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                        <a href="/compras">
                            <div class="menu-item">
                                <img src="Icon/Compras.png" class="icon" />
                                <p>Compras</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/venta">
                            <div class="menu-item">
                                <img src="Icon/Venta.png" class="icon" />
                                <p>Ventas</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/informe">
                            <div class="menu-item">
                                <img src="Icon/Informe.png" class="icon" />
                                <p>Informes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/pago">
                            <div class="menu-item">
                                <img src="Icon/Pago.png" class="icon" />
                                <p>Pagos</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/proveedor">
                            <div class="menu-item">
                                <img src="Icon/Proveedor.png" class="icon" />
                                <p>Proveedores</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/producto">
                            <div class="menu-item">
                                <img src="Icon/Producto.png" class="icon" />
                                <p>Productos</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <a href="/pedido">
                            <div class="menu-item">
                                <img src="Icon/Pedido.png" class="icon" />
                                <p>Pedidos</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/usuario">
                            <div class="menu-item">
                                <img src="Icon/User.png" class="icon" />
                                <p>Usuarios</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 text-center">
                        <a href="/">
                            <div class="menu-item">
                                <img src="Icon/User.png" class="icon" />
                                <p>Centro de Pedido </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/">
                            <div class="menu-item">
                                <img src="Icon/User.png" class="icon" />
                                <p>Reservaciones</p>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="card mx-auto shadow-lg" style="max-width:1000px" >
            <div class="card-header d-flex align-items-center justify-content-center">
                <img src="Logo.png" class="img-logo" />
                <h2>Piscina Campestre -Menu-</h2>
            </div>
            <div class="card-body" style="background-color: #ffff; background-size: cover;">
                    <div class="col-md-4 text-center">
                    <a href="/cenPedCli">
                            <div class="menu-item">
                                <img src="Icon/User.png" class="icon" />
                                <p>Centro de Pedido </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                    <a href="/reservacionCli">
                            <div class="menu-item">
                                <img src="Icon/User.png" class="icon" />
                                <p>Reservaciones</p>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </NotAuthorized>
    
</AuthorizeView>




<style>
    .menu-item {
        border: 1px solid #ced4da;
        border-radius: 8px;
        padding: 10px;
        transition: background-color 0.3s ease, transform 0.2s ease; /* Agregamos transform al transition */
        background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para los cuadros */
    }

        .menu-item:hover {
            background-color: #f8f9fa;
            transform: scale(0.95); /* Encoge el elemento al 95% de su tamaño original al pasar el mouse */
        }

        .menu-item:active {
            transform: scale(1); /* Retorna al tamaño original al hacer click */
        }

        .menu-item img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        .menu-item p {
            margin: 0;
        }

    .img-logo {
        max-width: 50px; /* Establece un ancho máximo para la imagen del logo */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none; /* Quita el subrayado */
        color: #001B97; /* Asegúrate de que el color de los enlaces se ajuste a tu diseño */
    }


</style>